<% wrap_layout :layout do %>

<header class="platform">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= image_tag "power-pack-logo.svg", class: "" %>
        <span>This is an example fundraising page for schools</span>
      </div>
    </div>
  </div>
</header>

<div class="banner">
  <div class="container">
    <header class="row">
      <div class="col-3">
        <%= image_tag current_page.data.slug + '/logo.jpg', class: "" %>
      </div>
      <div class="col-9">
        <h1>Change your energy company to raise money for <%= current_page.data.school_name %></h1>
      </div>
    </header>
  </div>
</div>

<div class="container">
  <div class="row headlines">
    <div class="col-3 colophon">
      <div class="cta">
        <p class="pledges"><span class="count"><%= current_page.data.pledges_got %></span> pledges</p>

        <%= image_tag "pledge-count.svg", class: 'counter' %>

        <span class="required-pledges"><%= current_page.data.pledges_needed %></span>

        <p class="button"><a href="pledge">Pledge now</a></p>

        <p><%= current_page.data.school_name %> set a target of getting <%= current_page.data.pledges_needed %> families to switch. Pledge to help them with their fundraising goal.</p>
      </div>
      <div class="green-mission">
        <span>Supported by</span>
        <%= image_tag "power-pack-supported.svg", class: "" %>
        <p>Schools around the UK are joining up with Power Pack to help ensure we no longer need to burn fossil fuels. Supported by Co-op.</p>
      </div>
    </div>
    <div class="col-9 proposition">
      <p><strong>Switching to a different energy company could save you money, and your school will benefit too.</stong></p>

      <p>When the school refers a new customer, they get £25 as a thank-you from the energy company.</p>

      <h2><%= current_page.data.school_name %>'s Story</h2>

      <div class="cause-story">

        <div class="col-2">
          <%= image_tag current_page.data.slug + '/logo.jpg', class: "" %>
        </div>
        <div class="col-10">
          <blockquote>
            <p>Our climbing frame is not safe to use which means we can’t let the children play on it. We’re trying to raise £500 for a completely new climbing frame which will help children’s confidence and fitness. If 20 families switch to a green energy company, we will reach our goal.</p>
          </blockquote>

        </div>

      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row steps">
    <div class="col-12">
      <h2>How it works</h2>
    </div>
    <div class="col-4">
      <%= image_tag "icon-pledge.svg", class: "" %>
      <h3>You pledge</h3>
      <p>Provide your name and number - Power Pack will call you back</p>
    </div>
    <div class="col-4">
      <%= image_tag "icon-switch.svg", class: "" %>
      <h3>Power Pack switches</h3>
      <p>Power Pack will find you the best 100% green energy deal</p>
    </div>
    <div class="col-4">
      <%= image_tag "icon-benefit.svg", class: "" %>
      <h3>Your school benefits</h3>
      <p>Your new energy company pays your school £25 as a thank-you</p>
    </div>

    <div class="col-8">
      <h2>Why you should switch</h2>

      <p><strong>It's easy</strong> - you answer 2 questions, and Power Pack will do the rest.</p>

      <p><strong>You only have to switch once</strong> - you’ll be on a variable green tariff that’s always cheaper than the ‘big six’ energy companies standard variable tariff.</p>

    </div>
  </div>
</div>
<div class="cta">
  <div class="container">
    <section class="row">
      <div class="col-8">

        <h2>Ready to switch?</h2>
        <p>Pledge to switch and help your school reach their fundraising goal.</p>

        <p class="pledges"><span class="count"><%= current_page.data.pledges_got %></span> pledges</p>

        <%= image_tag "pledge-count.svg", class: 'counter' %>

        <span class="required-pledges"><%= current_page.data.pledges_needed %></span>

        <p class="button"><a href="pledge">Pledge now</a></p>

      </div>
    </section>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <p>Power Pack is a community of people on a mission to power Britain purely by renewables.</p>
        <p>Switching to a green energy provider is the first, simple step you can take on this mission.</p>
      </div>
      <div class="col-3 colophon">
        <span>Supported by</span>
        <%= image_tag "power-pack-supported-reverse.svg", class: "" %>
      </div>
    </div>
  </div>
</footer>

<% end %>
