<% wrap_layout :layout do %>

<div class="banner">
  <div class="container">
    <header class="row">
      <div class="col-3">
        <%= image_tag current_page.data.slug + '/logo.jpg', class: "" %>
      </div>
      <div class="col-9">
        <h1>Help us buy <%= current_page.data.raising_money_for %> by switching your energy company </h1>

      </div>
    </header>
  </div>
</div>

<div class="container">
  <div class="row headlines">
    <div class="col-3 colophon">

      <div class="cta">

        <p class="pledges"><span class="count"><%= current_page.data.pledges_got %></span> pledges</p>

        <%= image_tag "pledge-count.svg", class: 'counter' %>

        <span class="required-pledges"><%= current_page.data.pledges_needed %></span>

        <p class="button"><a href="#">Pledge now</a></p>

        <p>We’ve set ourselves a target of getting <%= current_page.data.pledges_needed %> families to switch, which would mean <%= current_page.data.raising_money_for %>.</p>

      </div>
      <div class="green-mission">
        <span>Supported by</span>
        <%= image_tag "power-pack-supported.svg", class: "" %>
        <p>Schools around the UK are joining up with Power Pack to help ensure we no longer need to burn fossil fuels. Supported by Co-op.</p>
      </div>
    </div>
    <div class="col-9 proposition">
      <h2>How does changing your energy company pay for <%= current_page.data.able_to_buy %>?</h2>

      <p><strong>Confused? That’s fair enough. But here’s the thing.</stong></p>

      <p>We need <%= current_page.data.raising_money_for %>.</p>

      <p>We're not asking you for any money.</p>

      <p>Instead, we want you to switch to a green energy company.</p>

      <p><%= current_page.data.school_name %> has joined up with Power Pack - a green energy co-op who will pay us for every family that switches.</p>

      <p>And if you get your energy from one of the 'big six' companies, and you've not switched recently, you'll see your bills go down.</p>

      <p>Every time a family switches, our school gets enough money to buy <%= current_page.data.each_pledge_value %>.</p>

      <p>When <%= current_page.data.pledges_needed %> families switch, we get <%= current_page.data.specific_pledge_need %>.</p>

    </div>
  </div>
</div>
<div class="container">
  <div class="row steps">
    <div class="col-12">
      <h2>How it works</h2>
    </div>
    <div class="col-4">
      <%= image_tag "icon-pledge.svg", class: "" %>
      <h3>You pledge</h3>
      <p>Just provide your name, email and address. It’s quick and painless!</p>
    </div>
    <div class="col-4">
      <%= image_tag "icon-switch.svg", class: "" %>
      <h3>Power Pack switches</h3>
      <p>Everything is taken care of - Power Pack sets you up with a cheap green energy company.</p>
    </div>
    <div class="col-4">
      <%= image_tag "icon-benefit.svg", class: "" %>
      <h3>Your school benefits</h3>
      <p>Your new energy company pays us for helping the switch and we’re able to buy <%= current_page.data.raising_money_for %>.</p>
    </div>

    <div class="col-9">
      <h2>Why you should switch</h2>

      <p><strong>It's easy</strong> - you answer 2 questions, and we do the rest.</p>

      <p><strong>You only have to do it once</strong> - you’ll be on a variable green tariff that’s always cheaper than the ‘big six’ energy companies standard variable tariff </p>

    </div>
  </div>
</div>
<div class="cta">
  <div class="container">
    <section class="row">
      <div class="col-8">

        <h2>Ready to switch?</h2>
        <p>Pledge to switch, and help us <%= current_page.data.raising_money_for %></p>

        <p class="pledges"><span class="count"><%= current_page.data.pledges_got %></span> pledges</p>

        <%= image_tag "pledge-count.svg", class: 'counter' %>

        <span class="required-pledges"><%= current_page.data.pledges_needed %></span>

        <p class="button"><a href="#">Pledge now</a></p>

      </div>
    </section>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <p>Power Pack is a community of people on a mission to power Britain purely by renewables.</p>
        <p>Switching to a green energy provider is the first, simple step you can take on this mission.</p>
      </div>
      <div class="col-3 colophon">
        <span>Supported by</span>
        <%= image_tag "power-pack-supported-reverse.svg", class: "" %>
      </div>
    </div>
  </div>
</footer>


<% end %>
