<% wrap_layout :layout do %>

<header class="platform">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= image_tag "coop-logo.svg", class: "" %>
        <span>Assist</span>
      </div>
    </div>
  </div>
</header>

<div class="banner">
  <div class="container">
    <header class="row">
      <div class="col-3">
        <%= image_tag current_page.data.slug + '/logo.jpg', class: "" %>
      </div>
      <div class="col-9">
        <h1>Raise money for <%= current_page.data.school_name %></h1>
      </div>
    </header>
  </div>
</div>

<div class="container">
  <div class="row headlines">
    <div class="col-3 colophon">
      <div class="cta">
        <p class="pledges"><span class="count"><%= current_page.data.pledges_got %></span> pledges</p>

        <%= image_tag "pledge-count.svg", class: 'counter' %>

        <span class="required-pledges"><%= current_page.data.pledges_needed %></span>

        <p class="button"><a href="pledge">Pledge now</a></p>

        <p><%= current_page.data.school_name %> set a target of getting <%= current_page.data.pledges_needed %> families to switch. Pledge to help them with their fundraising goal.</p>
      </div>
      <div class="green-mission">
        <span>Supported by</span>
        <%= image_tag "power-pack-supported.svg", class: "" %>
        <p>Schools around the UK are joining up with Power Pack to help ensure we no longer need to burn fossil fuels. Supported by Co-op.</p>
      </div>
    </div>
    <div class="col-9 proposition">
      <h2>Let Co-op Assist upgrade your energy provider to raise money for <%= current_page.data.school_name %></h2>

      <div class="cause-story">

        <div class="col-2">
          <%= image_tag current_page.data.slug + '/logo.jpg', class: "" %>
        </div>
        <div class="col-10">
          <blockquote>
            <p><%= current_page.data.school_story %></p>
          </blockquote>

        </div>

      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Hassle-free fund raising</h2>
      <ul>
        <li>Heard about switching but haven't done it?</li>
        <li>Haven't got time to learn about tariffs, units and kilowatts?</li>
        <li>Worried about spending hours on the phone chasing final bills?</li>
      </ul>

      <h2>Co-op Assist does it all for you</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <ul>
        <li>We've selected a simple fair plan with 100% renewable energy</li>

        <li>If anything goes wrong, one of our Heroes takes on your case</li>
      </ul>

      <h2>We endorse Good Energy because they
        <ul>
          <li>have great customer service</li>
          <li>have one simple, affordable plan</li>
          <li>buy 100% renewable energy</li>
          <li>support local solar and hydro generation</li>
        </ul>
      </h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row steps">
    <div class="col-12">
      <h2>How <%= current_page.data.school_name %> benefits</h2>
    </div>
    <div class="col-4">
      <%= image_tag "icon-pledge.svg", class: "" %>
      <h3>You give permission to a Co-op Hero</h3>
      <p>Give us your name and number &mdash; that's enough to get started</p>
    </div>
    <div class="col-4">
      <%= image_tag "icon-switch.svg", class: "" %>
      <h3>We do the legwork</h3>
      <p>We arrange the upgrade from your current provider to Good Energy</p>
    </div>
    <div class="col-4">
      <%= image_tag "icon-benefit.svg", class: "" %>
      <h3>Your school benefits</h3>
      <p><%= current_page.data.school_name %> gets £25 for every family that upgrades</p>
    </div>


  </div>
</div>
<div class="cta">
  <div class="container">
    <section class="row">
      <div class="col-8">
        <h2>Ready to go?</h2>
        <p>Give us permission to do the hard work and help your school reach their fundraising goal.</p>

        <p class="pledges"><span class="count"><%= current_page.data.pledges_got %></span> pledges</p>

        <%= image_tag "pledge-count.svg", class: 'counter' %>

        <span class="required-pledges"><%= current_page.data.pledges_needed %></span>

        <p class="button"><a href="pledge">Get on with it</a></p>
      </div>
    </section>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <p>Power Pack is a community of people on a mission to power Britain purely by renewables.</p>
        <p>Switching to a green energy provider is the first, simple step you can take on this mission.</p>
      </div>
      <div class="col-3 colophon">
        <span>Supported by</span>
        <%= image_tag "power-pack-supported-reverse.svg", class: "" %>
      </div>
    </div>
  </div>
</footer>

<% end %>
