---
title: Swinton Fitzwilliam’s Green Energy Switch
---

<div class="banner">
  <div class="container">
    <header class="row">
      <div class="col-3">
        <%= image_tag "fitz.jpg", class: "" %>
      </div>
      <div class="col-9">
        <h1>We’re on a mission to get Mexbourough to switch to renewables</h1>
        <p>Join Swinton Fitzwilliam’s Green Energy Switch!</p>
      </div>
    </header>
  </div>
</div>

<div class="container">
  <div class="row headlines">
    <div class="col-3 colophon">

      <div class="cta">

        <p class="pledges"><span class="count">43</span> pledges</p>

        <%= image_tag "pledge-count.svg", class: 'counter' %>

        <span class="required-pledges">100</span>

        <p class="button"><a href="#">Pledge now</a></p>

        <p>We need at least 100 Mexborough families to pledge before we can start our green energy switch and raise money for our library.</p>

      </div>
      <div class="green-mission">
        <span>Supported by</span>
        <%= image_tag "power-pack-supported.svg", class: "" %>
        <p>Schools around the UK are joining up with Power Pack to help ensure we no longer need to burn fossil fuels. Supported by Co-op.</p>
      </div>
    </div>
    <div class="col-9 proposition">
      <h2>Story</h2>
      <p>We’re raising money for our school library by asking families to switch to a recommended green energy supplier. </p>

      <p>When you switch supplier through us, we get £25. You won’t pay any more for your energy — and most people end up saving money.</p>

      <p>If 100 families pledge, we’ll be able to buy 150 more books for the school library. We’ll also reduce Mexborough’s carbon consumption by around 100 tonnes each year — that’s equivalent to taking 19 cars off the road.</p>

      <h2>Going green &mdash; and saving money</h2>

      <%= image_tag "school-with-panel.jpg" %>

      <p>3 years ago we installed solar panels on the roof to power our school. These panels, along with our batteries, mean we now get up to 40,000kWh free, renewable electricity each year. That saves about 21 tonnes of carbon each year, while saving us £3,000!</p>

    </div>
  </div>
</div>
<div class="cta">
  <div class="container">
    <section class="row">
      <div class="col-8">

        <p class="pledges"><span class="count">43</span> pledges</p>

        <%= image_tag "pledge-count.svg", class: 'counter' %>

        <span class="required-pledges">100</span>

        <p class="button"><a href="#">Pledge now</a></p>

        <p>We need at least 100 Mexborough families to pledge before we can start our green energy switch and raise money for our library.</p>
      </div>
    </section>
  </div>
</div>

<div class="background-photo" style="background-image: url(<%= image_path "field.jpg" %>)"></div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <p>Power Pack is a community of people on a mission to power Britain purely by renewables.</p>
        <p>Switching to a green energy provider is the first, simple step you can take on this mission.</p>
      </div>
      <div class="col-3 colophon">
        <span>Supported by</span>
        <%= image_tag "power-pack-supported-reverse.svg", class: "" %>
      </div>
    </div>
  </div>
</footer>
